<html>
<head>
<title>新建流程</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" href="../js/lib/jquery-ui-1.8.4.custom/css/smoothness/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/flow.css">
	<link href="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
	<script type="text/javascript" src="../js/lib/raphael-min.js"></script>

	<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>-->
	<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.js"></script>
	<!--<script type="text/javascript" src="../js/lib/jquery-ui-1.8.4.custom/js/jquery-1.4.2.min.js"></script>-->
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<!--<script type="text/javascript" src="../js/lib/jquery-ui-1.8.4.custom/js/jquery-ui-1.8.4.custom.min.js"></script>-->
	<!--<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>-->
	<script src="https://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
	<script type="text/javascript" src="../js/flow/json.js"></script>

</head>
<body>
<button class="btn btn-success" onclick="showTrees()"></button>
<button class="btn btn-success" onclick="editProps()">新属性框</button>
	<div id="myflow_tools" class="positionNone">
		<div class="flow-tools-act">
		</div>
		<div  class="ui-widget-content flow-tools">
		<div id="myflow_tools_handle" class="flow-tools-title">工具集</div>
			<input type="text" placeholder="请输入流程名称" id="flowName" style="width: 130px" onchange="flowName()">
		<button class="node btn btn-success btn-block flow-tools-btn" id="myflow_save">
			<span class="glyphicon glyphicon-file "></span><span>&nbsp;&nbsp;保存</span>
		</button>
		<!--<button class="node btn btn-primary btn-block flow-tools-btn" id="pointer1">-->
			<!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;选择-->
		<!--</button>-->
		<button class="node selectable btn btn-info btn-block flow-tools-btn" id="path">
			<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;链接
		</button>
		<button  class="node selectable btn btn-info btn-block flow-tools-btn btn-save"  id="test">
			<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;属性</button>
		<div class="node state btn btn-primary btn-block flow-tools-btn" id="start" type="start">
			<img src="../img/16/start_event_empty.png" />&nbsp;&nbsp;开始
		</div>
		<div class="node state btn btn-info btn-block flow-tools-btn" id="fork" type="fork">
			<img src="../img/16/gateway_parallel.png" />&nbsp;&nbsp;分支
		</div>
		<div class="node state btn btn-primary btn-block flow-tools-btn" id="join" type="join">
			<img src="../img/16/gateway_parallel.png" />&nbsp;&nbsp;合并
		</div>
		<div class="node state btn btn-info btn-block flow-tools-btn" id="end" type="end">
			<img src="../img/16/end_event_terminate.png" />&nbsp;&nbsp;结束
		</div>
		<div class="node state btn btn-danger btn-block flow-tools-btn" id="end-cancel" type="cancel">
			<img src="../img/16/end_event_cancel.png" />&nbsp;&nbsp;取消
		</div>
		<div class="node state btn btn-warning btn-block flow-tools-btn" id="end-error" type="error">
			<img src="../img/16/end_event_error.png" />&nbsp;&nbsp;错误
		</div>
	</div>
	</div>
	<div id="myflow" class="flowBox"></div>

	<div style="display: none;">
		<form  method="post" id="flowForm" name="flowFrom">
			<input type="hidden" id="jsondata" name="jsondata"/>
			<input type="hidden" id="flowid" name="flowid" value="${flowid }" />
		</form>
	</div>
	<!--&lt;!&ndash; 模态框（Modal） &ndash;&gt;-->
	<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title modal-title" id="myModalLabel">属性</h4>
				</div>
				<div class="modal-body"><div id="myflow_props"
															 class="flow-props nopading">
					<!--<div id="myflow_props_handle" class=" flow-tools-title">属性</div>-->
					<table  width="100%" cellpadding="0" cellspacing="0" class="table">
						<tr>
							<td>aaa</td>
						</tr>
						<tr>
							<td>aaa</td>
						</tr>
					</table>
					<div>&nbsp;</div>
				</div></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<!--<button type="button" class="btn btn-primary">提交更改</button>-->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>


	<!--树形结构模态框-->
	<div class="modal fade" id="myTree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title modal-title" id="myTreeLabel">属性</h4>
				</div>
				<div class="modal-body">
					<div id="tree"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" onclick="sure()">保存</button>
					<!--<button type="button" class="btn btn-primary">提交更改</button>-->
				</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	<!--//新属性框-->
	<div class="modal fade" id="Props" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title modal-title" id="myPropsLabel">属性</h4>
				</div>
				<div class="modal-body">
					<div class="row props-row">
						<div class="col-xs-3 props-row-text">名称:</div>
						<div class="col-xs-8">
							<input  class="props-row-input" type="text" id="prop_name">
						</div>
					</div>
				  <div id="recEquipmentAlarm" class="display-none">
					<div style="position: relative">
					<button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu0" data-toggle="dropdown"></button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu0" onclick="choseli(event)">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">设备类型</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">指定设备</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">事件类型</a>
							</li>
						</ul>
					</div>
					<div class="row props-row display-none">
						<div class="col-xs-3 props-row-text">设备类型:</div>
						<div class="col-xs-8">
							<div class="prop-type" id="recEquipmentAlarm_type"></div>
							<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
						</div>
					</div>
					<div class="row props-row display-none">
						<div class="col-xs-3 props-row-text">指定设备:</div>
						<div class="col-xs-8">
						  <div class="prop-type" id="recEquipmentAlarm_equipment"></div>
						  <button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
						</div>
					</div>
					<div class="row props-row display-none">
						<div class="col-xs-3 props-row-text" id="recEquipmentAlarm_event">事件类型:</div>
						<div class="col-xs-8">
						  <div class="prop-type" ></div>
						  <button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
						</div>
					</div>
				  </div>
				  <div id="remEquipmentAlarm" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu1" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu1" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
				  <div id="sendMessage" class="display-none">
					<div class="row props-row">
					  <div class="col-xs-3 props-row-text">接收人:</div>
					  <div class="col-xs-8">
						<input class="props-row-input" type="number" maxlength="13">
					  </div>
					</div>
					<div class="row props-row">
					  <div class="col-xs-3 props-row-text">发送内容:</div>
					  <div class="col-xs-8">
						<textarea></textarea>
					  </div>
					</div>
					<div class="row props-row">
					  <div class="col-xs-3 props-row-text">执行方式:</div>
					  <div class="col-xs-8">
						<label><input name="radio" type="radio" value="手动">手动</label>
						<label><input name="radio" type="radio" value="自动">自动</label>
					  </div>
					</div>
				  </div>
				  <div id="accessCtr" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu2" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu3" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定门禁</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定区域</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">全厂</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">动作</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">执行方式</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定门禁:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定区域:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					<div class="col-xs-3 props-row-text">全厂:</div>
					<div class="col-xs-8">
					 <label><input type="checkbox" name="holeFac" value="全厂">全厂</label>
					</div>
				  </div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">动作:</div>
					  <div class="col-xs-8">
						<label><input type="radio" value="打开">打开</label>
						<label><input type="radio" value="关闭">关闭</label>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">执行方式:</div>
					  <label><input type="radio" value="手动">手动</label>
					  <label><input type="radio" value="自动">自动</label>
					</div>
				  </div>
				  <div id="radioCtr" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu3" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu3" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定门禁</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定区域</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">全厂</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">动作</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">执行方式</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定门禁:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定区域:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">全厂:</div>
					  <div class="col-xs-8">
						<label><input type="checkbox" value="全厂">全厂</label>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">动作:</div>
					  <div class="col-xs-8">
						<label><input type="radio" value="打开">打开</label>
						<label><input type="radio" value="关闭">关闭</label>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">执行方式:</div>
					  <label><input type="radio" value="手动">手动</label>
					  <label><input type="radio" value="自动">自动</label>
					</div>
				  </div>
				  <div id="recLinked" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu4" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu3" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">联动命令</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">联动命令</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">执行方式</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">联动命令:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">联动命令:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">执行方式:</div>
					  <label><input type="radio" value="手动">手动</label>
					  <label><input type="radio" value="自动">自动</label>
					</div>
				  </div>
				  <div id="propAlarm" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu5" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu6" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
				  <div id="clientMutual" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu7" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu7" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
				  <div id="startRec" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu8" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu8" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
				  <div id="sendMail" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu9" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu9" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
				  <div id="network" class="display-none">
					<div style="position: relative">
					  <button type="button" class="col-xs-offset-2 btn btn-primary glyphicon glyphicon-plus dropdown-toggle" id="dropMenu10" data-toggle="dropdown"></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropMenu10" onclick="choseli(event)">
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">设备类型</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">指定设备</a>
						</li>
						<li role="presentation">
						  <a role="menuitem" tabindex="-1" href="#">事件类型</a>
						</li>
					  </ul>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">设备类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">指定设备:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
					<div class="row props-row display-none">
					  <div class="col-xs-3 props-row-text">事件类型:</div>
					  <div class="col-xs-8">
						<div class="prop-type" ></div>
						<button class="btn btn-default prop-btn"><span class="glyphicon glyphicon-th"></span> </button>
					  </div>
					</div>
				  </div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-success" onclick="saveProps()">保存</button>
						<!--<button type="button" class="btn btn-primary">提交更改</button>-->
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div>
<div class="modal fade" id="POPUP_BOX" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="POPUP_BOXContent">属性</h4>
	  </div>
	  <div class="modal-body">
		<form id="POPUP_BOXLabel">
		  <label><input type="checkbox" value="123"></label>
		</form></div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" onclick="getCheckBoxVal()">保存并关闭</button>
		<button type="button" class="btn btn-primary" onclick="clearCheckBoxVal()">清空</button>
		<button type="button" class="btn btn-success" onclick="allCheckBoxVal()">全选</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

	<script type="text/javascript" src="../js/flow/myflow.js"></script>
	<script type="text/javascript" src="../js/flow/myflow.jpdl3.js"></script>
	<script type="text/javascript" src="../js/flow/myflow.editors.js"></script>
</body>
</html>